/*
  // Version 1.0
  // OPS filename: epub.css
  // Last update: March 21 2019
  // About: this CSS file is for NewGen produced EPUBs, adapting Fulcrum styles
  // to NewGen classes.
*/
/* Cover Page */

div.cover_image
{
text-align:center;
margin-top:0em;
margin-bottom:0em;
}
div.coverPage
{
text-align:center;
margin-top:0em;
margin-bottom:0em;
}
/* Body */

body
{
font-family:LinLibertine;
margin-left:1em;
margin-right:1em;
}

h1.half-title
{
font-size:120%;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-style:normal;
font-weight:normal;
text-align:left;
line-height:120%;
}

.halfText
{
font-size:100%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.halfTextr
{
font-size:100%;
text-align:right;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0.7em;
line-height:1.3em;
}

.halfBlrubText
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.halfBlurb
{
font-size:100%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.halfBio
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
line-height:1.3em;
}
h1.titlepage
{
font-size:180%;
margin-top:0.5em;
margin-bottom:0em;
font-style:normal;
font-weight:bold;
text-align:left;
line-height:100%;
}
.tbr
{
border-bottom:1px solid;
padding-bottom:0.2em;
}
h2.Tiitle_subtitle
{
font-size:150%;
text-align:center;
margin-top:1em;
margin-bottom:3em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-style:italic;
font-weight:normal;
line-height:1.2em;
}

h3.TitleAuthor
{
font-size:120%;
text-align:center;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-style:normal;
font-weight:normal;
line-height:1.2em;
}

.pub
{
font-size:95%;
text-align:left;
margin-top:13em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-style:normal;
font-weight:normal;
line-height:1.2em;
}
.pub1
{
font-size:105%;
text-align:left;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-style:normal;
font-weight:normal;
line-height:1.2em;
}
.subtitlech
{
font-size:140%;
margin-top:1.5em;
margin-bottom:4em;
margin-left:0em;
font-style:normal;
font-weight:normal;
text-align:left;
text-indent:0em;
line-height:120%;
}

.author
{
font-size:100%;
text-align:left;
margin-top:7em;
margin-bottom:7em;
font-weight:normal;
line-height:120%;
}

.authorn
{
font-size:130%;
text-align:left;
margin-top:2em;
margin-bottom:0em;
font-style:normal;
font-weight:bold;
}

.press
{
font-size:145%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
font-style:normal;
font-weight:normal;
}

.aff
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:4em;
font-style:italic;
font-weight:normal;
}

.authort
{
font-size:130%;
text-align:left;
margin-top:4em;
margin-bottom:0em;
font-style:normal;
font-weight:bold;
}

.authora
{
font-size:130%;
text-align:left;
margin-top:0.5em;
margin-bottom:3em;
font-weight:normal;
font-style:normal;
margin-left:1.15em;
line-height:1.2em;
}

.authorinfo
{
font-size:123%;
margin-top:0em;
margin-bottom:0.05em;
font-style:normal;
font-weight:normal;
text-align:right;
}
.SeriesTitle
{
font-size:120%;
margin-top:1em;
margin-bottom:1em;
font-style:normal;
font-weight:normal;
text-align:center;
text-indent:0em;
}
.SeriesTitle1
{
font-size:110%;
margin-top:0.3em;
margin-bottom:0em;
font-style:normal;
font-weight:bold;
text-align:left;
}

.seriesEditor
{
font-size:105%;
margin-top:0em;
margin-bottom:3em;
font-style:normal;
font-weight:normal;
text-align:left;
}
.seriesEditor1
{
font-size:100%;
margin-top:1em;
margin-bottom:1em;
font-style:normal;
font-weight:normal;
text-align:left;
}
.seriesTitleb
{
font-size:110%;
margin-top:0em;
margin-bottom:3em;
font-style:normal;
font-weight:normal;
text-align:left;
}

.seriesList
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
text-align:left;
}
.seriesLista
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-style:italic;
text-align:left;
}

.seriesList1
{
font-size:100%;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
margin-right:0em;
text-align:left;
}
.seriesList2
{
font-size:100%;
margin-top:0.8em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
text-align:left;
}

.seriesListt
{
font-size:90%;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-style:normal;
font-weight:normal;
text-align:justify;
}

.series
{
font-size:100%;
margin-top:0.7em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-style:normal;
font-weight:normal;
text-align:justify;
}

.seriest
{
font-size:100%;
margin-top:1.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-style:normal;
font-weight:normal;
text-align:justify;
}

.series1
{
margin-top:0.7em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-style:normal;
font-weight:bold;
text-align:left;
}
.series2
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-style:italic;
font-weight:normal;
text-align:left;
}

/* Chapter Headings */

.chapterTitle
{
font-family:sans-serif;
font-size:160%;
margin-top:1em;
margin-bottom:3em;
margin-left:1em;
font-style:normal;
font-weight:bold;
text-align:left;
text-indent:0em;
line-height:120%;
}

.chapterNo
{
font-size:60%;
margin-top:0.5em;
margin-bottom:0em;
font-style:normal;
font-weight:normal;
text-align:left;
line-height:120%;
text-indent:0em;
margin-left:0em;
line-height:5em;
}

.chapterNon
{
font-size:300%;
margin-top:0em;
margin-bottom:0em;
font-style:normal;
font-weight:normal;
text-align:left;
line-height:120%;
text-indent:0em;
margin-left:0em;
}
/* Copyright Page */
.copyrightt
{
font-size:95%;
margin-top:0.6em;
margin-bottom:0em;
line-height:1.2em;
font-weight:normal;
text-align:left;
}

.copyright
{
font-size:90%;
margin-top:1em;
margin-bottom:0em;
line-height:1.2em;
font-weight:normal;
text-align:left;
}

.copyright1
{
font-size:90%;
margin-top:3em;
margin-bottom:0em;
line-height:1.2em;
font-weight:normal;
text-align:left;
}
/* Chapter Text */

.bodytext
{
font-size:140%;
text-align:left;
margin-top:0em;
margin-bottom:0.5em;
text-indent:0em;
}

.normal
{
font-size:100%;
text-align:justify;
margin-top:0.65em;
margin-bottom:.3em;
margin-left:0em;
}

.text_hanging_indent
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-2em;
margin-left:2em;
}

.figure_legend
{
text-align:center;
margin-top:1em;
margin-bottom:0.3em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
}

.figure_legenda
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-right:0.2em;
}

.text_center
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
}
.dedication
{
font-size:108%;
text-align:left;
margin-top:5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
line-height:130%;
font-weight:normal;
}
.dedication1
{
font-size:108%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
line-height:130%;
font-weight:normal;
}

.dedicationpara
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
line-height:130%;
}

.dedication2
{
font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
line-height:130%;
}
/* Sidebar Text */

.sidebar_left
{
float:left !important;
margin:0 0 0 .5em !important;
padding:0.5em;
width:30% !important;
text-align:center !important;
}

.sidebar_right
{
float:right !important;
margin:0 0 0 .5em !important;
padding:0.5em;
width:30% !important;
text-align:center !important;
}
/* Quotes */

.quotes
{
margin-left:2em;
margin-right:1.5em;
margin-top:0.5em;
margin-bottom:0.5em;
line-height:130%;
}

.reviewquotes
{
margin-left:1.5em;
margin-right:1.5em;
margin-top:1em;
margin-bottom:0.8em;
line-height:130%;
}

.Textabst
{
margin-left:0em;
margin-right:0em;
font-style:italic;
margin-top:0.5em;
margin-bottom:0.8em;
line-height:130%;
}

/* List */

.listquotes
{
margin-left:1.5em;
margin-right:0em;
margin-top:1em;
}

.list_indent_dot
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-2em;
margin-left:2em;
}

.list_indent_dota
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.8em;
margin-left:1.8em;
}

.list_indent_bullet
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.5em;
margin-left:1.5em;
}

.list_indent_brace
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-2em;
margin-left:2em;
}

.list_indent_brace2
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.5em;
margin-left:1.5em;
}

.list_indent_dotsub
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.5em;
margin-left:1.8em;
}

.list_indent_table
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-1em;
margin-left:1em;
}
th.tablehead {
font-family:sans-serif;
font-weight:normal;
margin-left:0em;
margin-right:0em;
vertical-align:top;
text-align:left;
}
th.tableheadc {
font-family:sans-serif;
font-weight:normal;
margin-left:0em;
margin-right:0em;
vertical-align:top;
}
td.TableBody {
font-size :90%;
padding-bottom :0px;
padding-top :3px;
padding-left :5px;
padding-right :10px;
text-indent:0em;
margin-left:0em;
margin-right:0em;
vertical-align:top;
}
td.TableBody1 {
font-size :90%;
padding-bottom :0px;
padding-top :3px;
padding-left :5px;
padding-right :10px;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-right:0em;
vertical-align:top;
}
td.TableBodya {
font-size :90%;
padding-bottom :0px;
padding-top :3px;
padding-left :5px;
padding-right :10px;
text-indent:0em;
margin-left:0em;
margin-right:0em;
vertical-align:top;
}

td.TableBodyt {
font-size :90%;
padding-bottom :0px;
padding-top :20px;
padding-left :10px;
padding-right :10px;
text-indent:0em;
margin-left:0em;
margin-right:0em;
vertical-align:top;
}

td.TableBodyr {
font-size :90%;
padding-bottom :0px;
padding-top :3px;
padding-left :10px;
padding-right :15px;
text-indent:0em;
text-align:right;
margin-left:0em;
margin-right:0em;
vertical-align:top;
}

tr.end td {
border-bottom:1px solid black;
}

tr.start td {
border-top:1px solid black;
}
tr.start1 td {
border-top:1px solid black;
border-bottom:1px solid black;
}

tr.thead td {
border-bottom:1px solid black;
border-top:1px solid black;
font-style:normal;
}
tr.thead1 td {
border-bottom:1px solid black;
border-top:1px solid black;
font-weight:bold;
}

tr.thead2 td {
border-bottom:1px solid black;
font-style:italic;
}

table { 
width:100%;
border-collapse:collapse;
}
hr.line { 
border-bottom:1px solid black;
}

/* Image */

img
{
max-width:100%;
}

/* Box */

.box-shaded
{
border:1px solid black;
background-color:#707070;
padding:1em;
}

.notation-box
{
border:0px solid;
background-color:#E7E7E8;
padding:0.7em;
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
}
.text_box
{
border-bottom:1px solid black;
padding-bottom:0.25em;
font-size:100%;
text-align:left;
margin-top:0.25em;
margin-bottom:0.5em;
text-indent:0em;
margin-left:0em;
font-weight:bold;
}

.text_box1
{
font-size:100%;
text-align:left;
margin-top:0.25em;
margin-bottom:0.5em;
text-indent:0em;
margin-left:0em;
font-weight:bold;
}

.boxh1
{
font-size:120%;
font-style:normal;
font-weight:bold;
margin-top:.5em;
margin-bottom:0.5em;
text-align:left;
line-height:100%;
margin-right:0em;
}

/* Footnote */

div.order
{
margin-top:.3em;
margin-bottom:.5em;
margin-left:1em;
margin-right:0em;
}

div.notegroup
{
font-size:95%;
text-align:justify;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
line-height:1.2em;
}

.Notei
{
font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.2em;
line-height:1.2em;
}

.Notein
{
font-size:90%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
line-height:1.2em;
}
.Noten
{
font-size:90%;
text-align:left;
text-indent:1.2em;
margin-left:0em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:0.2em;
}
.Note
{
font-size:90%;
text-align:left;
text-indent:-1.2em;
margin-left:1.2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0.2em;
}
.Notea
{
font-size:90%;
text-align:left;
text-indent:0em;
margin-left:1.7em;
margin-right:0em;
margin-top:0.2em;
margin-bottom:0.2em;
}
.Note1
{
font-size:90%;
text-align:justify;
text-indent:1.5em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Note2
{
font-size:90%;
text-align:justify;
text-indent:1em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Note3
{
font-size:90%;
text-align:justify;
text-indent:0.5em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
/* Extra */

.italic
{
font-style:italic;
}

.bold
{
font-weight:bold;
}

.bolditalic
{
font-style:italic;
font-weight:bold;
}

.underline
{
text-decoration:underline;
}

.linethrough
{
text-decoration:line-through;
}
.strike
{
text-decoration:line-through;
}

p.line
{
border-top:solid 1px black;
margin-bottom:0.5em;
margin-top:0.5em;
}

.lines
{
border-bottom:3px double black;
margin-bottom:0em;
margin-top:0.1em;
margin-left:9em;
margin-right:9em;
}

.top-space
{
margin-top:1em;
}

.top_space
{
padding-top:1em;
}

.line-space
{
margin-top:1em;
}
sub
{
font-size:70%;
line-height:100%;
vertical-align:text-bottom;
}

sup
{
font-size:70%;
line-height:100%;
vertical-align:text-top;
}
.citation
{
font-size:90%;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
text-align:left;
text-indent:-1.2em;
margin-left:1.2em;
}
.citation1
{
font-size:90%;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
text-align:left;
text-indent:-2em;
margin-left:2em;
}

figcaption.fcaption
{
font-family:sans-serif;
font-size:90%;
text-align:center;
margin-top:0.5em;
margin-bottom:1em;
}

.captionpara
{
font-size:100%;
text-align:justify;
margin-top:0.5em;
margin-bottom:0.5em;
}
.group
{
margin:1em 0em 1em 0em;
text-indent:0em;
page-break-inside:avoid;
}
.caption
{
font-family:sans-serif;
font-size:90%;
margin-top:1em;
margin-bottom:0.5em;
text-indent:0em;
}
.fnote
{
font-size:80%;
text-align:justify;
margin-top:.5em;
margin-bottom:0.5em;
text-indent:0em;
}

.Tabcaption
{
font-size:90%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.3em;
margin-left:0em;
text-indent:0em;
line-height:1.2em;
}

.figCaption
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
line-height:1.2em;
}

.figpara
{
font-size:80%;
text-align:left;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
line-height:1.2em;
}
.index
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:4em;
text-indent:-4em;
}

.indexA
{
font-size:100%;
text-align:left;
margin-top:1em;
margin-bottom:0em;
margin-left:4em;
text-indent:-4em;
}

.image
{
text-align:center;
margin-top:0.5em;
margin-bottom:0.5em;
}
.imager
{
text-align:right;
margin-top:0.5em;
margin-bottom:0.5em;
}
ul.nomargin
{
font-size:100%;
text-align:justify;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:2em;
}

.ul
{
font-size:100%;
margin-top:1em;
margin-bottom:1em;
line-height:130%;
}

span.lin
{
font-size:80%;
margin-top:0em;
padding-bottom:0em;
padding-top:0em;
margin-bottom:0em;
border-bottom:solid 1px;
}

.ol
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
line-height:130%;
margin-left:1em;
}

.oll
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
line-height:130%;
margin-left:1.3em;
}

.padding
{
padding-left:0.1em;
}

.headtable
{
font-size:100%;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
line-height:130%;
}

.fn-group
{
font-size:90%;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
line-height:130%;
}

.content
{
font-size:100%;
text-align:left;
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
line-height:130%;
font-weight:normal;
}

.contents
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
line-height:130%;
font-weight:normal;
}

.contenta
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
line-height:130%;
font-weight:normal;
}
.def-term
{
font-size:90%;
text-align:justify;
margin-top:0.5em;
margin-bottom:0.5em;
}

.def-list
{
font-size:90%;
text-align:justify;
margin-top:0.5em;
margin-bottom:0.5em;
}

.source
{
font-size:90%;
text-align:justify;
margin-top:0.5em;
margin-bottom:0.5em;
}

.foot-para
{
font-size:90%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
line-height:130%;
}

.verse-line
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
line-height:130%;
}

.verse
{
font-size:100%;
text-align:justify;
margin-top:.5em;
margin-bottom:.5em;
margin-left:1.5em;
margin-right:1.5em;
line-height:130%;
}

.verseline
{
font-size:100%;
text-align:left;
text-indent:-1em;
margin-left:1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

div.cipdata
{
margin-left:1em;
margin-right:1em;
margin-top:.2em;
margin-bottom:.5em;
}

div.indexentry
{
margin-left:2em;
text-indent:-2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

div.figurewrap
{
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:1em;
}

div.dispquote
{
margin-left:1.5em;
margin-right:1em;
margin-top:0.5em;
margin-bottom:0.5em;
font-size:90%;
}
div.extract
{
margin-left:1.25em;
margin-right:1.25em;
margin-top:1em;
margin-bottom:1em;
font-size:100%;
}
div.dialogue_extract
{
margin-left:1em;
margin-right:0em;
margin-top:1em;
margin-bottom:1em;
font-size:100%;
}

div.dialogue_extractn
{
margin-left:1em;
margin-right:0em;
margin-top:1em;
margin-bottom:1em;
font-size:108%;
}

div.extractn
{
margin-left:3.2em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0.5em;
font-size:90%;
text-align:left;
}

div.epigraph
{
margin-left:1.5em;
margin-right:1.5em;
margin-top:1em;
margin-bottom:1em;
font-size:90%;
}

div.versegroup
{
margin-left:1.5em;
margin-right:1em;
margin-top:1em;
margin-bottom:1em;
font-size:100%;
}
span.speaker
{
font-size:90%;
font-style:normal;
font-weight:normal;
padding-right:0.5em;
}

span.listnum
{
padding-right:.8em;
}

span.chnum
{
padding-right:1em;
}
span.label
{
padding-right:1em;
}
span.Toclabel
{
font-weight:bold;
padding-right:1em;
}
span.label1
{
padding-right:1.5em;
}
span.labela
{
padding-right:0.5em;
}

span.Figlabel
{
font-weight:bold;
padding-right:0.7em;
}
span.Tlabel
{
font-weight:bold;
padding-right:0.7em;
}

span.notelabel
{
padding-right:.7em;
}

.numlist
{
font-size:100%;
margin:.3em 0em 0em 2.2em;
padding:0em 0em 0em 0em;
text-align:justify;
text-indent:-1.1em;
}

.numlistTwo
{
font-size:100%;
margin:.5em 0em 0em 1.5em;
padding:0em 0em 0em 0em;
text-align:justify;
text-indent:-1.5em;
}

div.BookPartMeta
{
padding-top:0.5em;
padding-bottom:3em;
}
p.tocfm
{
font-style:italic;
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:5.5em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0em
}

p.tocfmb
{
font-style:italic;
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:1.5em
}

p.tocfmt
{
font-style:italic;
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1.5em;
margin-bottom:0em
}

p.tocfma
{
font-size:100%;
font-weight:normal;
text-align:left;
text-indent:0em;
margin-left:5em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0.5em
}

p.tocchap1
{
font-size:100%;
font-weight:normal;
text-align:left;
text-indent:-1.4em;
margin-left:1.4em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0em
}

p.tocchap2
{
font-size:100%;
font-weight:normal;
text-align:left;
text-indent:-5.5em;
margin-left:5.5em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0em
}
p.tocpartLabel
{
font-size:105%;
font-weight:bold;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:.1em
}

p.tocpartTitle
{
font-size:105%;
font-weight:bold;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0.5em
}

p.tocA
{
font-size:100%;
text-align:left;
text-indent:-2.3em;
margin-left:3.8em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:0em
}
p.tocB
{
font-size:100%;
font-style:normal;
text-align:left;
text-indent:-1em;
margin-left:3.5em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:0em
}
p.tocauthor
{
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em
}

p.tocauthor2
{
font-style:italic;
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em
}

p.tocauthor1
{
font-style:italic;
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em
}

p.tocEndmattert
{
font-style:normal;
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:1.3em;
margin-right:0em;
margin-top:1.4em;
margin-bottom:0em
}

p.toctable1
{
font-style:normal;
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:0em
}
p.toctable2
{
font-style:normal;
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.3em;
margin-bottom:0em
}

p.tocfigure
{
line-height:1.3em;
font-style:normal;
font-size:100%;
text-align:left;
text-indent:-1.5em;
margin-left:1.5em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:0.1em
}

p.tocfigureA
{
line-height:1.3em;
font-style:normal;
font-size:100%;
text-align:left;
text-indent:-2.3em;
margin-left:2.3em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:0.1em
}

p.tocfigureB
{
line-height:1.3em;
font-style:normal;
font-size:100%;
text-align:left;
text-indent:-2.8em;
margin-left:2.8em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em
}

p.toctableA
{
line-height:1.3em;
font-style:normal;
font-size:100%;
text-align:left;
text-indent:-2.8em;
margin-left:2.8em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:0em
}

p.toctableB
{
line-height:1.3em;
font-style:normal;
font-size:100%;
text-align:left;
text-indent:-2.25em;
margin-left:2.25em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em
}

.partno
{
font-size:140%;
margin-top:0.5em;
margin-bottom:0em;
font-style:normal;
font-weight:bold;
text-align:left;
line-height:120%;
}

.parttitle
{
font-size:180%;
margin-top:0.3em;
margin-bottom:0em;
font-style:normal;
font-weight:bold;
text-align:left;
line-height:120%;
}

.boxTitle
{
font-size:108%;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:0em;
margin-right:0em;
font-style:normal;
font-weight:normal;
text-align:center;
line-height:120%;
}
.boxTitle1
{
font-size:108%;
margin-top:0.3em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
font-style:italic;
font-weight:normal;
text-align:center;
line-height:120%;
}

.boxTitlen
{
font-size:110%;
margin-top:0.3em;
margin-bottom:0.25em;
margin-left:0em;
margin-right:0em;
font-style:normal;
font-weight:normal;
text-align:left;
line-height:120%;
}

.contribText
{
font-size:102%;
text-align:justify;
margin-top:.5em;
margin-bottom:.5em;
margin-left:2em;
text-indent:-1.5em;
}
div.box
{
border:solid 1px black;
padding:0.7em;
margin-bottom:.8em;
margin-top:0.8em;
}
div.casestudy
{
border:solid 0px;
background-color:#E7E7E8;
padding:0.7em;
margin-bottom:.8em;
margin-top:0.8em;
}

div.boxc
{
background-color:#BDBDBD;
border:solid .10em;
border-width:thin;
padding-left:.6em;
padding-right:0.8em;
margin-bottom:.5em;
margin-top:1em;
}

div.boxcc
{
background-color:#BDBDBD;
border:solid .10em;
border-width:thin;
padding-left:.6em;
padding-right:0em;
margin-bottom:.5em;
margin-top:1em;
}

h3.h3n
{
font-weight:bold;
font-size :110%;
text-align :left;
text-indent :0em;
margin-left:0em;
margin-right:0em;
margin-top:1.2em;
margin-bottom:0.8em;
}
h2.h3
{
font-weight:bold;
font-size :110%;
text-align :left;
text-indent :0em;
margin-left:2em;
margin-right:0em;
margin-top:1.8em;
margin-bottom:0.8em;
}
.h3a
{
font-weight:bold;
font-size :110%;
text-align :left;
text-indent :0em;
margin-left:3em;
margin-right:0em;
margin-top:1.8em;
margin-bottom:0.8em;
}
span.h3a
{
float:left;
margin:0em 0em 0em -3em;
text-indent:0em;
}
span.h3
{
margin:0em 0em 0em 0em;
text-indent:0em;
}
h3.BHead
{
font-weight:normal;
font-size :105%;
text-indent :0em;
margin-left:0em;
margin-right:0em;
margin-top:1.5em;
margin-bottom:0.8em;
font-style:italic;
}
span.h4
{
float:left;
margin:0em 0em 0em 0em;
text-indent:0em;
}
h3+.h4
{
margin-top:0.5em;
}
p.BHeada
{

font-style:italic;
font-weight:bold;
font-size :110%;
text-align :left;
text-indent :0em;
margin-left:0em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0.7em;
}

p.CHead 
{
font-weight:normal;
font-style:italic;
font-size :115%;
text-align :left;
text-indent :0em;
margin-top:1em;
margin-right:0em;
margin-left:0em;
margin-bottom:0.5em;
}

p.DHead 
{
font-weight:normal;
font-style:normal;
font-size :110%;
text-align :left;
text-indent :0em;
margin-top:1em;
margin-right:0em;
margin-left:0em;
margin-bottom:0.5em;
}
p.DHeada
{
font-weight:normal;
font-style:normal;
font-size :110%;
text-align :left;
text-indent :0em;
margin-top:0.3em;
margin-right:0em;
margin-left:0em;
margin-bottom:0.5em;
}

p.CHead1
{

font-style :normal;
font-weight:normal;
font-size :105%;
text-align :left;
text-indent :0em;
margin-top:1em;
margin-right:0em;
margin-left:0em;
margin-bottom:0.5em;
}
div.centerA
{
text-align:left;
}

div.index-alpha
{
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
}
a
{
text-decoration:none;
}
.small-caps
{
font-size:80%;
}

div.table-wrap
{
margin:16px 0 16px 0;
page-break-inside:avoid;
}

div.tablewrapt
{
margin:26px 0 10px 0;
page-break-inside:avoid;
}

.tablewrapt
{
margin:26px 0 10px 0;
page-break-inside:avoid;
}

td 
{
padding:0px;
}

.bio
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
line-height:1.3em;
}

.Contr
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:1em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0em;
line-height:1.3em;
}

span.disp_text
{
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.Text
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.Text1
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.7em;
margin-bottom:0em;
line-height:1.3em;
}
.noindent
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.noindent2
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:6em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.flushlefta
{
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.flushlefti
{
font-size:100%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.flushleft1
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0em;
line-height:1.3em;
}

.Texte
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.Textr
{
font-size:100%;
text-align:right;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.Textc
{
font-size:100%;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:1em;
line-height:1.3em;
}

.Textcn
{
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:1em;
line-height:1.3em;
}

.Textcs
{
font-size:90%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
line-height:1.3em;
}

.Textct
{
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
line-height:1.3em;
}

.Textsc
{
font-size:90%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0em;
line-height:1.3em;
}

.Texts
{
font-size:90%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.Textis
{
font-size:90%;
text-align:justify;
text-indent:1em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:2em;
line-height:1.3em;
}

.Textt
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
line-height:1.3em;
}

.contibList
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.7em;
margin-bottom:0em;
line-height:1.3em;
}

.Textb
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:1em;
line-height:1.3em;
}

.blurbn
{
border-top:solid 1px;
padding-top:1.5em;
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.2em;
}

.blurb
{
font-size:100%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.2em;
}

h2.AHead
{
font-family:sans-serif;
font-size:105%;
font-weight:bold;
text-indent:0em;
margin-left:0em;
margin-top:2em;
margin-bottom:.7em;
}
p.AHeada
{
font-size:110%;
font-weight:bold;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-top:1.5em;
margin-bottom:.7em;
}
p.AHead1
{
font-size:120%;
font-weight:bold;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-top:1.5em;
margin-bottom:.7em;
border-bottom:solid 1px black;
}

.Toc_sub_head
{
font-size:109%;
font-weight:bold;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-top:1.5em;
margin-bottom:.9em;
}

h1.noteTitle
{
font-size:180%;
font-weight:bold;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-top:3em;
margin-bottom:2.5em;
}

h2.subTitle
{
font-size:150%;
font-weight:bold;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-top:1em;
margin-bottom:1em;
}

.text
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:0em;
line-height:1.3em;
}

.textt
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
line-height:1.3em;
}

.indent
{
font-size:100%;
text-align:justify;
text-indent:1.2em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.indent1
{
font-size:100%;
text-align:justify;
text-indent:1.2em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
line-height:1.3em;
}

.textindr
{
font-size:100%;
font-style:italic;
text-align:right;
text-indent:0em;
margin-left:3em;
margin-right:0em;
margin-top:0em;
margin-bottom:1em;
line-height:1.3em;
}

.TextInd
{
font-size:100%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.textindt
{
font-size:108%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.textindt1
{
font-size:108%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:1em;
line-height:1.3em;
}

.textindb
{
font-size:100%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:1.2em;
line-height:1.3em;
}

.textindn
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:3em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.textinds
{
font-size:90%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.contribgroup
{
font-size:130%;
text-align:left;
font-weight:normal;
text-indent:0em;
margin-left:2.2em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:3em;
font-style :italic;
}

.contribgroupchapter
{
font-size:125%;
text-align:left;
font-weight:normal;
text-indent:0em;
margin-left:1.25em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:3em;
font-style :italic;
}

.DispAttrib
{
font-size:100%;
font-style:normal;
text-align:right;
text-indent:0em;
margin-left:3em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0em;
line-height:1.3em;
}
.boxSoruce
{
font-size:100%;
font-style:normal;
text-align:right;
text-indent:0em;
margin-left:3em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.attrib
{
font-size:90%;
text-align:right;
text-indent:0em;
margin-left:5em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
font-style:normal;
}

.tableattrib
{
font-size:90%;
text-indent:1em;
margin-left:0em;
margin-right:0em;
margin-top:0.3em;
margin-bottom:0.3em;
line-height:1.3em;
}

.tablewrapfoot
{
font-size:90%;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.1em;
margin-bottom:1em;
line-height:1.3em;
}
.tablewrapfoot1
{
font-size:90%;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.3em;
margin-bottom:1em;
line-height:1.3em;
}

.attribN
{
font-size:90%;
text-align:right;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:1em;
line-height:1.3em;
}
.figattrib
{
font-size:90%;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.3em;
}

.blist
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.1em;
margin-left:1.1em;
}
.blista
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.4em;
margin-left:1.4em;
}
.blistb
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.3em;
margin-left:1.3em;
}

.blisti
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:1.2em;
margin-left:1.1em;
}

.Nlist1
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.25em;
margin-left:1.45em;
}

.Alist
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.5em;
margin-left:1.5em;
}
.Alisti
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:1.2em;
margin-left:1.5em;
}

.Nlistsub
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-2em;
margin-left:4em;
}

.SimpleList
{
font-size:100%;
text-align:justify;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.5em;
margin-left:2em;
}

span.ClassList
{
padding-right:.75em;
}

div.bullet
{
margin-left:1em;
margin-top:1em;
margin-bottom:1em;
}

div.simple
{
margin-top:1em;
margin-bottom:1em;
margin-left:1.2em;
margin-right:0em;
}

div.number
{
margin-top:1em;
margin-bottom:1em;
margin-left:1em;
margin-right:0em;
}
div.numbert
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-size:108%;
}

div.list2
{
margin-top:0em;
margin-bottom:1em;
margin-left:1.75em;
margin-right:0em;
}
div.list3
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.list2n
{
margin-top:0em;
margin-bottom:0em;
margin-left:1.75em;
margin-right:0em;
}
.list2n1
{
margin-top:1em;
margin-bottom:0em;
margin-left:1.7em;
margin-right:0em;
}

div.numbern
{
margin-top:1em;
margin-bottom:1em;
margin-left:1em;
margin-right:0em;
font-size:90%;
}

.speech
{
margin-top:0.2em;
margin-bottom:0em;
text-indent:-1.5em;
margin-left:1.5em;
margin-right:0em;
text-align:justify;
line-height:1.2em;
}
.speechpara
{
margin-top:0.2em;
margin-bottom:0em;
text-indent:-1.5em;
margin-left:1.5em;
margin-right:0em;
text-align:justify;
line-height:1.2em;
}

.speechi
{
margin-top:0em;
margin-bottom:0em;
margin-left:.3em;
margin-right:0em;
text-align:justify;
text-indent:1em;
line-height:1.2em;
}

.speechit
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:.3em;
margin-right:0em;
text-align:justify;
text-indent:1em;
line-height:1.2em;
}

.index1
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
}

.index2
{
font-size:100%;
text-align:left;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
}

.index-div
{
margin-top:1.2em;
margin-bottom:0em;
}
h1.PET
{
font-size:100%;
margin-top:1em;
margin-left:1em;
margin-bottom:3em;
font-style:normal;
font-weight:bold;
text-align:center;
line-height:120%;
}
h1.PET1
{
font-size:160%;
margin-top:0em;
margin-left:1em;
margin-bottom:3em;
font-style:normal;
font-weight:bold;
text-align:center;
line-height:120%;
}
p.tocEndmatter
{
font-style:italic;
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:2em;
margin-right:0em;
margin-top:2em;
margin-bottom:0em
}
p.endauthor
{
font-style:normal;
font-size:100%;
text-align:right;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em
}

p.endauthorLoc
{
font-style:normal;
font-size:100%;
text-align:right;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em
}
.Nlist11
{
font-size:100%;
text-align:justify;
text-indent:-2.1em;
margin-left:2.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist11P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist11P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist11P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist08
{
font-size:100%;
text-align:justify;
text-indent:-1.8em;
margin-left:1.8em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist08P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist08P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist08P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:2.9em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist05P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist05P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist05P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:2.5em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist06
{
font-size:100%;
text-align:justify;
text-indent:-2.15em;
margin-left:2.15em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist06a
{
font-size:100%;
text-align:justify;
text-indent:-1.8em;
margin-left:1.8em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist06P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist06P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:2.5em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist07
{
font-size:100%;
text-align:justify;
text-indent:-2em;
margin-left:2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist07P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist07P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist07P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:2.5em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist03
{
font-size:100%;
text-align:justify;
text-indent:-2em;
margin-left:2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist03P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist03P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist03P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist04
{
font-size:100%;
text-align:justify;
text-indent:-1.95em;
margin-left:1.95em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist04P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist04P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist04P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist01
{
font-size:100%;
text-align:justify;
text-indent:-1.5em;
margin-left:2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist01P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist01P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist01P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist02
{
font-size:100%;
text-align:justify;
text-indent:-1.75em;
margin-left:2.25em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist02a
{
font-size:100%;
text-align:justify;
text-indent:-1.75em;
margin-left:2.25em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist09
{
font-size:100%;
text-align:justify;
text-indent:-1.8em;
margin-left:1.8em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist05
{
font-size:100%;
text-align:justify;
text-indent:-2.25em;
margin-left:2.25em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist02P2
{
font-size:100%;
text-align:justify;
text-indent:1em;
margin-left:2.25em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist02P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist02P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist14
{
font-size:100%;
text-align:justify;
text-indent:-1.95em;
margin-left:2.95em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist14P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist14P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist14P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:2.5em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist16
{
font-size:100%;
text-align:justify;
text-indent:-2.4em;
margin-left:2.95em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist16P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist16P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist16P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:2.5em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist17
{
font-size:100%;
text-align:justify;
text-indent:-2.95em;
margin-left:2.95em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist17P2
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist17P3
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:3.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist17P4
{
font-size:100%;
text-align:justify;
text-indent:-1em;
margin-left:2.5em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist18
{
font-size:100%;
text-align:justify;
text-indent:-1.5em;
margin-left:2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist19
{
font-size:100%;
text-align:justify;
text-indent:-2em;
margin-left:2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}
.Nlist20
{
font-size:100%;
text-align:justify;
text-indent:-1.85em;
margin-left:2.3em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

.Nlist21
{
font-size:100%;
text-align:justify;
text-indent:-2.3em;
margin-left:2.3em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
}

div.disp-formula
{
margin-left:1.4em;
margin-right:1em;
margin-top:1em;
margin-bottom:1em;
}

span.inline-formula
{
display:inline-block;
}

.ListSimp
{
font-size:100%;
margin-top:0.2em;
margin-bottom:0.2em;
text-indent:0em;
margin-left:0.5em;
margin-right:0em;
font-style:normal;
font-weight:normal;
text-align:justify;
}
.ListSimp1
{
font-size:100%;
margin-top:0.2em;
margin-bottom:0.2em;
text-indent:-1.2em;
margin-left:1.7em;
margin-right:0em;
font-style:normal;
font-weight:normal;
text-align:justify;
}
.Tpara
{
font-size:95%;
text-align:left;
text-indent:-1em;
margin-left:1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.Tpara2
{
font-size:95%;
text-align:left;
text-indent:0em;
margin-left:1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.Tpara1
{
font-size:95%;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.Tparac
{
font-size:95%;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.Tparan
{
font-size:95%;
text-align:left;
text-indent:-1.1em;
margin-left:1.1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.Tparan1
{
font-size:95%;
text-align:left;
text-indent:-2em;
margin-left:2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}
.Tparar
{
font-size:95%;
text-align:right;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

.abstract {margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:1em;
line-height:130%;
font-style:normal;
}

.textind1
{
font-size:100%;
text-align:justify;
text-indent:-1.2em;
margin-left:1.2em;
margin-right:0em;
margin-top:0.7em;
margin-bottom:0em;
line-height:1.3em;
}
.textind2
{
font-size:100%;
text-align:justify;
text-indent:1.2em;
margin-left:1.2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
line-height:1.3em;
}

span.right
{
float:right;
}

span.over
{
text-decoration:overline;
}
span.mid
{
vertical-align:-50%;
line-height:normal;
}

span.pbreak
{
font-size:100%;
color:#5c5c5c;
}
span.pbreakhidde
{
font-size:100%;
color:#5c5c5c;
display:none;
}
.break
{
page-break-before:always;
}
h2.AHeada
{
font-size:105%;
font-weight:bold;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-top:2em;
margin-bottom:0em;
}

h3.BHeada
{	
font-style:italic;
font-weight:bold;
font-size :100%;
text-align :center;
text-indent :0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0.7em;
}

.figCaptiona
{
font-size:100%;
text-align:left;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
line-height:1.2em;
}

.figure_table
{
text-align:left;
margin-top:.1em;
margin-bottom:.3em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
}
.noindent1
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
line-height:1.3em;
}
.noindenta
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0em;
line-height:1.3em;
}
.copyright2
{
font-size:95%;
margin-top:5em;
margin-bottom:0em;
line-height:1.2em;
font-weight:normal;
text-align:left;
}

.ded
{
font-size:110%;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:5em;
margin-bottom:0em;
line-height:1.3em;
}
h1.toctile
{
font-size:150%;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:3em
}
.toc1
{
font-size:100%;
text-align:left;
text-indent:0em;
margin-left:7em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0em
}
span.toc1
{
float:left;
margin:0em 0em 0em -7em;
width:5.8em;
text-align:right;
text-indent:0em;
padding-right:0em;
}
h1.ack-title
{
font-size:150%;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:3em
}

h1.tab-toc
{
font-size:100%;
text-align:center;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em
}

.figure_legend1
{
font-size:100%;
text-align:center;
margin-top:1em;
margin-bottom:.3em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
}

p.reference
{
font-size:100%;
font-weight:normal;
text-align:left;
text-indent:-1.4em;
margin-left:1.4em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em
}

p.textindex
{
font-size:100%;
font-weight:normal;
text-align:left;
text-indent:-1.4em;
margin-left:1.4em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em
}

p.textindex1
{
font-size:100%;
font-weight:normal;
text-align:left;
text-indent:-1.4em;
margin-left:1.4em;
margin-right:0em;
margin-top:1.4em;
margin-bottom:0em
}

.tabcenter
{
font-size:100%;
font-weight:normal;
text-align:center;
text-indent:0em;
}

.tabcenter-bor
{
font-size:100%;
font-weight:normal;
text-align:center;
text-indent:0em;
border-top:1px solid #000;
border-bottom:1px solid #000;
}
.border
{
font-size:100%;
font-weight:normal;
text-align:left;
text-indent:0em;
border-top:1px solid #000;
border-bottom:1px solid #000;
}

.tabcenter-bor-bot
{
font-size:100%;
font-weight:normal;
text-align:center;
text-indent:0em;
border-bottom:1px solid #000;
}
.border-bot
{
font-size:100%;
font-weight:normal;
text-align:left;
text-indent:0em;
border-bottom:1px solid #000;
}

.border-top
{
font-size:100%;
font-weight:normal;
text-align:left;
text-indent:0em;
border-top:1px solid #000;
vertical-align:top;
}

.tabnotes
{
font-size:90%;
font-weight:normal;
text-align:left;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0.7em
}
.textinda
{
font-size:100%;
text-align:justify;
text-indent:1.25em;
margin-left:0em;
margin-right:0em;
margin-top:2em;
margin-bottom:0em;
line-height:1.3em;
}

.indent1
{
font-size:100%;
text-align:justify;
text-indent:0em;
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
line-height:1.3em;
}
.fms
{
font-size:80%;
margin:1em 0em 1em 0em;
text-indent:0em;
}
.tabular
{
font-size:90%;
margin:0.5em 0em 0.5em 0em;
text-indent:0em;
}
.fmh
{
font-family:sans-serif;
font-size:150%;
margin:3em 0em 1.5em 1em;
text-indent:0em;
}
.lfig
{
margin:0.5em 0em 0.5em 6em;
text-indent:0em;
text-align:left;
}
span.lfig
{
float:left;
margin:0em 0em 0em -6em;
text-indent:0em;
}
ol
{
text-align:justify;
}
ol ol
{
margin:1em 0em 1em 0em;
}
ol.enumerate2 li
{
list-style-type:none;
}
li.enumerate
{
margin:0em 0em 0em 0.5em;
text-indent:0em;
}
span.enum
{
float:left;
margin:0em 0em 0em -3em;
text-indent:0em;
}
ul
{
text-align:justify;
}
.cmti-10
{
font-style:italic;
}
.cmmi-10
{
font-style:italic;
}
.cmmi-7
{
font-style:italic;
}
.cmbx-10
{
font-weight:bold;
}
.leftspace
{
margin:1em 0em 0.5em 1.2em;
text-indent:0em;
text-align:justify;
}
.quote
{
font-size:90%;
margin:1em 0em 1em 1.5em;
text-indent:0em;
text-align:justify;
}
.notes
{
font-size:90%;
margin:0em 0em 0em 0em;
text-indent:1.2em;
text-align:justify;
}
.bibitem
{
font-size:90%;
margin:0em 0em 0em 1.7em;
text-indent:-1.7em;
text-align:justify;
}
.theindex
{
margin:1em 0em 0em 0em;
text-indent:0em;
text-align:left;
}
.index-item
{
font-size:90%;
margin:0em 0em 0em 3em;
text-indent:-3em;
text-align:left;
}
.index-subitem
{
font-size:90%;
margin:0em 0em 0em 3em;
text-indent:-1.5em;
text-align:left;
}
.index-subsubitem
{
font-size:90%;
margin:0em 0em 0em 4em;
text-indent:-1.5em;
text-align:left;
}
.flright
{
float:right;
margin:0em;
}
table.tabular td p
{
text-align:left;
}

ol.list
{
list-style-type:none;
}
.img_group
{
text-align:center;
margin-top:1em;
margin-bottom:1em;
page-break-inside:avoid;
}
.cover
{
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	text-align:center;
}
/* U-M Press Specific Styles */
body
{
font-family: Garamond,Baskerville,Georgia,"Times New Roman",serif;
color:#333333;
margin: 0;
margin-left:1em;
margin-right:1em;
line-height:1.5em;
}
@media amzn-kf8 
{
body {margin-left: 0; margin-right: 0;}
}
@media amzn-mobi 
{
body {margin-left: 0; margin-right: 0;}
}
h1,h2,h3,h4,h5,h6
{
font-family: "Gill Sans",Calibri,Helvetica,sans-serif;
font-weight:600;
color:inherit;
}
.chapterTitle,th.tablehead,th.tableheadc,figcaption.fcaption,.caption,h2.AHead,.fmh
{
font-family: "Gill Sans",Calibri,Helvetica,sans-serif;
}
/* Links */
a 
{
color: #40658f;
text-decoration: underline;
}  
a:hover, a:focus, a:active 
{
color: #587abc;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, #Contents a, #Figures a, #Tables a, .foot-para
{
text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover, #Contents a:hover, #Figures a:hover, #Tables a:hover, .foot-para:focus,
h1 > a:active, h2 > a:active, h3 > a:active, h4 > a:active, h5 > a:active, h6 > a:active, #Contents a:active, #Figures a:active, #Tables a:active, .foot-para:active
h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus, #Contents a:focus, #Figures a:focus, #Tables a:focus, .foot-para:focus
{
text-decoration: underline;
}
/* Page Numbers */
span.pbreak-hidden, span.pbreak
{
font-size: 75%;
color: #666666;
text-decoration: none;
}
h1 span.pbreak-hidden, h2 span.pbreak-hidden, h3 span.pbreak-hidden,
h1 span.pbreak, h2 span.pbreak, h3 span.pbreak
{
display: none;
}